<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_DIR"
		value="/home/anish/Documents/Eclipse_workspace/FlightReservation/Logs"/>
		<property name="file_prefix" value="flightReservation"/>
			<appender name="FILE"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>${LOG_DIR}/${file_prefix}.log</file>
				<encoder
					class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
					<pattern>%d{yyyy-MM-dd HH:mm:ss} -%msg%n</pattern>
				</encoder>
				<rollingPolicy
					class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<fileNamePattern>${LOG_DIR}/archived/${file_prefix}.%d{yyyy-MM-dd
						HH:mm:ss}.%i.log</fileNamePattern>
					<timeBasedFileNamingAndTriggeringPolicy
						class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
						<maxFileSize>1MB</maxFileSize>
					</timeBasedFileNamingAndTriggeringPolicy>
				</rollingPolicy>
			</appender>
			
			<root level="info">
				<appender-ref ref="FILE" />
			</root>
</configuration>